# Basic Python
This notebook will demonstrate some basic python operations data types. It's not meant to be a comprehensive guide, but more like a brief tour.

## Functions
Functions are defined using the following format:
```python
def function_name(arg1, arg2, optional_arg1 = "default value"):
    <steps>
    return return_value
```
For a more concrete example, here is a funtion to calculate the hypoteneuse of a right triangle:

In [1]:
def calculate_hypoteneuse(a, b, verbose = False):
    c = (a**2 + b**2) ** 0.5
    if verbose:
        print("hypoteneuse =", c)
    return c

In [2]:
# Call function (with default value verbose = False)
c = calculate_hypoteneuse(3, 4)
c

5.0

In [3]:
# specify verbose = True
c = calculate_hypoteneuse(3, 4, verbose = True)

hypoteneuse = 5.0

#### Formatting functions
That was a bare-bones definition. Proper functions should have docstrings that explain what they do and how to use them, including specifying the dtypes of the parameters and the return type.
- the `a: float, b: float, verbose: bool = False` tell you that `a` and `b` ar floats and that `verbose is a boolean. If you try calling the function with different typesan error will be thrown.
- the `-> float` tells you that the function will return a float.

In [4]:
def calculate_hypoteneuse(a: float, b: float, verbose: bool = False) -> float:
    """
    Calculate the hypotenuse of a right-angled triangle.

    Parameters:
    a (float): The length of the first side of the triangle.
    b (float): The length of the second side of the triangle.
    verbose (bool, optional): If True, the function will print the result. Defaults to False.

    Returns:
    float: The length of the hypotenuse.
    """
    c = (a**2 + b**2) ** 0.5
    if verbose:
        print("hypoteneuse =", c)
    return c

# Strings
Strings in Python (dtype: str) are immutable arrays of characters. Python has a bunch of built-in functions that can be called on strings.

In [5]:
string = "I am a giraffe. I have a long neck."
type(string)

str

In [6]:
# determine the length in characters
len(string)

35

In [7]:
# convert to uppercase
uppercase_string = string.upper()
uppercase_string

'I AM A GIRAFFE. I HAVE A LONG NECK.'

In [8]:
#conver to lowercase
lowercase_string = uppercase_string.lower()
lowercase_string

'i am a giraffe. i have a long neck.'

In [9]:
# capitalize the first character
lowercase_string.capitalize()

'I am a giraffe. i have a long neck.'

In [10]:
# split by space character to return a list of words
string.split(" ")

['I', 'am', 'a', 'giraffe.', 'I', 'have', 'a', 'long', 'neck.']

In [11]:
# replace substring with another substring
string.replace("giraffe", "ostrich")

'I am a ostrich. I have a long neck.'

In [12]:
# replace substring with another substring
string.replace(" a ", " ")

'I am giraffe. I have long neck.'

## Indexing strings
The string's characters can be accesed using their index, which starts at 0.

In [13]:
string[0]

'I'

In [14]:
# you CANNOT change an individual character with indexing STRINGS ARE IMMUTABLE
string[0] = "U"

TypeError: 'str' object does not support item assignment

### Slicing
*Slicing* can be used to extract a range of items by specifying `[start_index:end_index]`. Note that the `end_index` is NOT returned, allowing for easy splitting without overlap.

In [15]:
# the first 10 characters
print(string[0:10])

# the remaining after the first 10 characters
print(string[10:])

I am a gir
affe. I have a long neck.

In python you can use negative indeces, where `-1` corresponds to the last item, `-2` to the 2nd last, etc.

In [16]:
# The last character
string[-1]

'.'

In [17]:
# The last 4 characters
string[-5:-1]

'neck'

In [18]:
# The last 5 characters
string[-5:]

'neck.'

# Lists
Are mutable arrays that can contain any mixture of data type, even other lists. List indeces in Python always start at 0.

In [19]:
l = ["1", 2, None, ["a", "b"]]

# use len() to get the length
print("length of list =",  len(l))

l

length of list = 4

['1', 2, None, ['a', 'b']]

In [20]:
# lists are mutable
l[0] = 1
l

[1, 2, None, ['a', 'b']]

In [21]:
# since l[3] is a list
print(l[3])

# you can use two indeces to access its members
print(l[3][0])

['a', 'b']
a

In [22]:
# make a list containing a range of numbers
print(list(range(10)))

# with a specific start and end value
print(list(range(1, 10)))

# with a specific start and end value AND step size
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

### Adding/Removing from lists

You can add to a list with the `append()`

In [23]:
l = ["orange", "apple", "banana"]
l.append("mango")
l.append("apple")
l

['orange', 'apple', 'banana', 'mango', 'apple']

You can remove an item from a list with the `remove()` command. This will remove the FIRST occurence in the list

In [24]:
l.remove("mango")
l

['orange', 'apple', 'banana', 'apple']

In [25]:
# only removes the first "apple"
l.remove("apple")
l

['orange', 'banana', 'apple']

### Sorting lists
Lists can be sorted numerically or alphabetically

In [26]:
# list.sort() sorts a list in-place and returns None

l = ["orange", "apple", "banana"]
print(l.sort())
print(l)

None
['apple', 'banana', 'orange']

In [27]:
# reverse the sorting order (modifies list in memory, returns None)
l = ["orange", "apple", "banana"]
l.sort(reverse=True)
l

['orange', 'banana', 'apple']

In [28]:
# sorted(list) returns a sorted list but leaves the list unchanged in memory

l = ["orange", "apple", "banana"]
print(sorted(l))
print(l)

['apple', 'banana', 'orange']
['orange', 'apple', 'banana']

In [29]:
# use `[::-1]` to index the list in reverse order, leaves list unchanged in memory
l = ["one", "two", "three"]
l[::-1]

['three', 'two', 'one']

### Enumerating lists
Useful when selecting items from a long list or iterating through a for loop.

In [30]:
fruits = ["orange", "apple", "banana", "mango", "blueberry"]

for i, fruit in enumerate(fruits):
    print(i, fruit)

0 orange
1 apple
2 banana
3 mango
4 blueberry

In [31]:
# optionally choose the starting index instead of default 0
for i, fruit in enumerate(fruits, start = 10):
    print(i, fruit)

10 orange
11 apple
12 banana
13 mango
14 blueberry

### Zipping lists
Useful to iterate through lists together

In [32]:
fruits = ["orange", "apple", "banana", "mango", "blueberry"]
desserts = ["cookie", "pie", "cake", "pudding", "jelly"]

for fruit, dessert in zip(fruits, desserts):
    print(fruit, dessert)

orange cookie
apple pie
banana cake
mango pudding
blueberry jelly

### List comprehensions
A compact way of iterating through a list with a for loop.

**Syntax of list comprehension:** `[<do this thing> for <element> in <list>]`

In [33]:
# Basic iterating through a list WITHOUT list comprehension:
fruits = ["orange", "apple", "banana", "mango", "blueberry"]

capitalized_fruits = [] # list to hold result
for fruit in fruits:
    capitalized_fruits.append(fruit.capitalize())
capitalized_fruits

['Orange', 'Apple', 'Banana', 'Mango', 'Blueberry']

In [34]:
# We can do this in on line WITH a list comprehension
fruits = ["orange", "apple", "banana", "mango", "blueberry"]

capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Orange', 'Apple', 'Banana', 'Mango', 'Blueberry']

You can add a condition to the list comprehension

In [35]:
# leave banana out of capitalized list
[fruit.capitalize() for fruit in fruits if fruit!="banana"]

['Orange', 'Apple', 'Mango', 'Blueberry']

In [36]:
# Include banana but don't capitalize it
[fruit.capitalize() if fruit!="banana" else fruit for fruit in fruits ]

['Orange', 'Apple', 'banana', 'Mango', 'Blueberry']

## Dictionaries
Python dictionaries (essentially hash maps) are very useful and flexible data structures that hold key-value pairs of practically any type. They are denoted by curly braces `{}`.

They also can be saved to or read from JSON files, making them a handy portable way to store and transfer data.

In [37]:
# define a dictionary
student = {
    "name": "Sam",
    "age": 16,
    "height": 1.58,
}

In [38]:
# access any value using its key
student["name"]

'Sam'

In [39]:
# or by using the get() method
student.get("name")

'Sam'

In [40]:
# change a value
student["age"] = 17
student

{'name': 'Sam', 'age': 17, 'height': 1.58}

In [41]:
# add a new key
student["loves dogs"] = True
student["favourite colour"] = "red"
student

{'name': 'Sam',
 'age': 17,
 'height': 1.58,
 'loves dogs': True,
 'favourite colour': 'red'}

In [42]:
# delete a key
del student["favourite colour"]
student

{'name': 'Sam', 'age': 17, 'height': 1.58, 'loves dogs': True}

In [43]:
# if you try to access a key that doesn't exist you get a key error
student["address"]

KeyError: 'address'

In [44]:
# list the key-value pairs as tuples with .items()
student.items()

dict_items([('name', 'Sam'), ('age', 17), ('height', 1.58), ('loves dogs', True)])

In [45]:
for key, value in student.items():
    print(key, "=", value)

name = Sam
age = 17
height = 1.58
loves dogs = True